/my-first-app/nbproject/private/
/angulerTest/nbproject/private/
/HTML5Application/nbproject/private/
/NodeJsWebApplication/nbproject/private/
/basicAngular/nbproject/private/
/angularjsgetionstart/nbproject/private/
/bookex1AddToDo/nbproject/private/
/AddToDo/nbproject/private/
/1AddToDo/nbproject/private/
/filtering/nbproject/private/
/eventHandaling/nbproject/private/
/filteringSearching/nbproject/private/