<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head ng-app="myModule">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <script src="js/angular.js" type="text/javascript"></script>
        <script>
            var myApp = angular.module('myModule',[]);
            myApp.controller('myCtrl',function(myService,$scope) {
                $scope.myFun =  function(x,y) {
                    $scope.result = myService.sum(x,y);
                    console.log(result);
};
});
            myApp.service('myService',function() {
                this.sum() = function(x,y) {
                    return Number(x)+Number(y);
}
})
        </script>
    </head>
    <body >
        <div ng-controller="myCtrl">
            <input type="text" ng-model="number1">
            <input type="text" ng-model="number2">
            <button ng-click="myFun(number1,number2)">Click</button>
            <h1>{{result}}</h1>
        </div>
    </body>
</html>
